{{ define "header" }}
<!---->
{{ end }}
{{ define "main" }}
<h2 class="py-5">{{ .Title }}</h2>
<div class="container text-left">
    
    {{ .Content }}

    <em style="color:#888; ">Last changed: {{ .Lastmod.Format "02.01.2006" }}</em>
    <hr>
</div>

{{ end }}