<footer class="mastfoot mt-auto">
    <div class="container">
        <p><a href="/impressum">Impressum</a> | <a href="datenschutz">Datenschutzhinweise</a></p>
        <p class="small">© 2022. Made with ♥︎ in Mainz, based on <a href="https://gohugo.io">Hugo</a>, <a href="https://getbootstrap.com/docs/5.1/examples/cover/">Bootstrap</a> and a helpful template by <a href="https://ttntm.me/blog/store-locator-leaflet-hugo/">@ttntm</a>.</p>
    </div>
</footer>