{{ $dataJ := getJSON "https://profilepageimages.usecue.com/images/the_espresso_project/images.json" }}

<h2 class="h2 custom-font mt-4">Unsere letzten Espressi</h2>
<p class="custom-font">Alle unsere Ausflüge und Bewertungen findet ihr auf unserer kleinen <a href="https://www.instagram.com/the_espresso_project/" target="_blank"><i class="bi bi-instagram"></i>&nbsp;Instagram </a>Seite.</p>
<div class="row row-cols-3 g-2" id="instafeed">
    {{ range first 3 $dataJ }}
        {{ $media_type := .media_type | lower }}
        {{ $image_small := .image_small }}
        {{ $permalink := .permalink }}
        {{ $caption := .caption }}
      <div class="col-12 col-md-4 p-2">
            <a href="{{ $permalink }}" target="_blank" rel="noopener noreferrer">
                <img style="max-width: 250px;" class="{{ $media_type }}" src="{{ $image_small }}" {{ with $caption }}alt="{{ . }}"{{ else }}alt=""{{ end }}>
            </a>
            <!-- <p class="small custom-font pt-3">{{ .caption }}</p> -->
      </div>
    {{ end }}
</div>
<hr> 