{{ define "main" }}

    <div class="container">
        <figure>
            <blockquote class="blockquote">
              <p>“Guter Kaffee ist wie gute Musik – beides berührt die Seele.”</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Roger Cicero
            </figcaption>
          </figure>
    </div>
    {{ $shops := .Site.Data.stores }}
    <div class="container">
    <!-- list the stores -->
        <div class="row map-border my-5">
            <div class="col-12 col-md-5 col-lg-4 order-2 order-md-1 px-md-0">
                <!-- search on top -->
                <!-- <div class="p-4">
                    <div class="input-group shadow-sm mt-3">
                        <input class="form-control border-0" type="text" id="storefinder" onkeyup="findStore();" placeholder="Area code, i.e. '1010'">
                        <div class="input-group-append">
                            <button class="btn btn-secondary bg-white text-secondary border-0 py-0" type="submit">Find</button>
                        </div>
                    </div>
                    <p id="result" class="small text-center mt-3 mb-0"></p>
                </div> -->
                <!-- list of shops -->
                <div class="shop-container d-flex flex-column flex-nowrap align-content-start px-md-0">
                {{ range sort $shops "shopPLZ" "asc" }}
                    {{ if .shopActive }}
                        <div class="sItem flex-grow-0 px-0 py-2 p-md-2" data-name="{{ .shopName }}" data-add="{{ .shopAddress }}" data-plz="{{ .shopPLZ }}" data-cty="{{ .shopCountry }}" data-lat="{{ .shopLatitude }}" data-lon="{{ .shopLongitude }}" data-price="{{ .shopEspressoPrice }}" data-hours="{{ .shopOpeningHours }}" data-website="{{ .shopWebsite }}">
                            <div class="sItem--offline rounded-lg shadow-sm px-3 py-2">
                                <h5 class="h6 mb-0">{{ .shopName }}</h5>
                                <p class="small mt-1 mb-0">{{ .shopAddress }}, {{ .shopPLZ }}<br>Espresso: {{ .shopEspressoPrice }}<br>Öffnungszeiten: {{ .shopOpeningHours }}<br><a href="{{ .shopWebsite }}">{{ .shopWebsite }}</a></p>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
                </div>
            </div>
            <!-- MAP -->
            <div class="col-12 col-md-7 col-lg-8 map-container order-1 order-md-2 px-0">
                <div id="map" style="width:100%;height:100%;"></div>
            </div>
        </div>

        <hr>
    </div>

    <div class="container">
        {{ partial "instafeed.html" . }}
    </div>
{{ end }}